# Usage:
# brew install direnv
# direnv allow


# https://developer.hashicorp.com/terraform/tutorials/azure-get-started/azure-build
az account show || az login --use-device-code
az ad signed-in-user show

# az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/$SUBSCRIPTION_ID"
# export ARM_CLIENT_ID="<APPID_VALUE>"
# export ARM_CLIENT_SECRET="<PASSWORD_VALUE>"
# export ARM_SUBSCRIPTION_ID="<SUBSCRIPTION_ID>"
# export ARM_TENANT_ID="<TENANT_VALUE>"
